pytest == 6.2.4
pyodhean == 1.0.0
celery == 5.2.2
pytest-celery == 0.0.0
redis == 4.5.3
werkzeug == 2.2.3
flask == 2.0.1
python-dotenv == 0.19.0
flask-smorest == 0.32.0
marshmallow == 3.13.0
webargs == 8.0.0
apispec == 5.0.0
flask_httpauth == 4.4.0
