pytest == 6.2.3
pyodhean == 1.0.0b1
celery == 5.0.5
pytest-celery == 0.0.0a1
redis == 3.5.3
werkzeug == 1.0.1
flask == 1.1.2
python-dotenv == 0.17.0
flask-smorest == 0.29.0
marshmallow == 3.11.1
webargs == 8.0.0
apispec == 4.4.0
flask_httpauth == 4.2.0
