pytest == 6.2.4
pyodhean == 1.0.0b1
celery == 5.0.5
pytest-celery == 0.0.0
redis == 3.5.3
werkzeug == 2.0.0
flask == 2.0.0
python-dotenv == 0.17.1
flask-smorest == 0.31.0
marshmallow == 3.12.1
webargs == 8.0.0
apispec == 4.4.1
flask_httpauth == 4.4.0
