[Unit]
Description=Pyodhean Celery worker
Wants=redis-server.service
After=redis-server.service

[Service]
Type=forking
User=pyodhean
Group=pyodhean
ExecStart=/bin/sh -c ' \
  PATH=${IPOPT_PATH}bin:${PATH} \
  LD_LIBRARY_PATH=${IPOPT_PATH}lib:${LD_LIBRARY_PATH} \
  ${CELERY_BIN} multi start ${CELERYD_NODES} \
  -A ${CELERY_APP} \
  --pidfile=${CELERYD_PID_FILE} \
  --logfile=${CELERYD_LOG_FILE} \
  --loglevel=${CELERYD_LOG_LEVEL} \
  --queues=${CELERYD_QUEUES} ${CELERYD_OPTS}'
ExecStop=/bin/sh -c ' \
  ${CELERY_BIN} multi stopwait ${CELERYD_NODES} \
  --pidfile=${CELERYD_PID_FILE}'
ExecReload= /bin/sh -c ' \
  PATH=${IPOPT_PATH}bin:${PATH} \
  LD_LIBRARY_PATH=${IPOPT_PATH}lib:${LD_LIBRARY_PATH} \
  ${CELERY_BIN} multi restart ${CELERYD_NODES} \
  -A ${CELERY_APP} \
  --pidfile=${CELERYD_PID_FILE} \
  --logfile=${CELERYD_LOG_FILE} \
  --loglevel=${CELERYD_LOG_LEVEL} \
  --queues=${CELERYD_QUEUES} ${CELERYD_OPTS}'

[Install]
WantedBy=multi-user.target
